:root {
	font-family: Roboto, sans-serif;
	margin-left: 17%;
	margin-right: 17%;
}

h1 {
	font-size: 3rem;
}

h2 {
	font-size: 2.4rem;
}

.flex-container {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	justify-content: center;
}

.flex-item, .flex-item-right, .flex-item-left {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	/* border: 0.3rem solid black; */
	width: 50%;

}

.flex-item-right {
	align-items: start;
}

.flex-item-left {
	align-items: end;
}

.welcome-picture {
	border: 0.3rem solid black;
	width: 70%;
}

.welcome-picture-subtitle {
	color: black;
	font-style: italic;
	font-size: small;
}

.basic-page {
	font-family: Inter;
	text-align: left;
	font-size: large;
}

.button {
	text-decoration: none;
	text-transform: uppercase;
	color: aliceblue;
	border: 2px solid black;
	background-color: black;
	padding: 0.7rem;
	margin: 0.1rem 0.5rem 1rem;
	transition: 0.2s all;
}

.button:hover {
	color: cornflowerblue;
	cursor: pointer;
	transform: scale(1.1);
	font-weight: bolder;
}

.button:active  {
	color: black;
	background-color: white;
	border: 2px solid black;
}