@font-face {
	font-family: robotosa;
	src: url(../resources/Roboto/Roboto-Regular.ttf);
}

@font-face {
	font-family: robotosa2;
	src: url(../resources/Roboto_Condensed/RobotoCondensed-Regular.ttf);
}

@font-face {
	font-family: robotosa3;
	src: url(../resources/Roboto_Slab/RobotoSlab-VariableFont_wght.ttf);
}

:root {
	font-family: robotosa3;
	text-align: center;
}

h1 {
	font-size: 3rem;
}

h2 {
	font-size: 2.4rem;
}

.lil-picture {
	width: 3.5rem;
	height: 6.2rem;
	border: 2px solid black;
}

.lil-picture:active {
	border-color: cornflowerblue;
}


.page-title {
	display: flexbox;
	margin: 2rem;
}

.page-title h1 {
	margin: 0 1rem;
}

.page-button,
.submit-button {
	display: inline-block;
	text-decoration: none;
	text-transform: uppercase;
	text-align: left;
	color: aliceblue;
	border: 2px solid black;
	background-color: black;
	padding: 0.7rem;
	margin: 0.1rem 0.5rem 1rem;
	transition: 0.2s all;
}

.page-button {
	width: 13%;
	text-align: center;
}

.page-button:hover,
.submit-button:hover {
	color: cornflowerblue;
	cursor: pointer;
	transform: scale(1.1);
	font-weight: bolder;
}

.page-button:active,
.submit-button:active {
	color: black;
	background-color: white;
	border: 2px solid black;
}

.main-picture {
	margin: 1rem;
	width: 20%;
	height: 40%;
	border: 3px solid black;
}

form input,
form textarea {
	display: block;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}

form label {
	display: block;
	margin: 0.5rem;
}
