:root {
	font-family: Roboto, sans-serif;
	margin-left: 17%;
	margin-right: 17%;
}

h1 {
	font-size: 3rem;
}

h2 {
	font-size: 2.4rem;
}

.content{
	background-image: linear-gradient(to bottom, seashell, whitesmoke);
	display: flex;
	justify-content: space-between;
	padding: 1%;
}

.index-sidebar{
	width: 50%;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
}

.sidebar{
	width: 30%;
}

.main{
	flex: 1;
}

.welcome-picture {
	border: 0.3rem solid black;
}

.welcome-picture-subtitle {
	color: grey;
	font-style: italic;
	font-size: small;
}

.basic-page {
	font-family: Inter;
	text-align: left;
	font-size: large;
}

.button {
	display: inline-flex;
	text-decoration: none;
	text-transform: uppercase;
	color: aliceblue;
	border: 2px solid black;
	background-color: black;
	padding: 0.7rem;
	margin: 0.1rem 0.5rem 1rem;
	transition: 0.2s all;
	text-align: left;
	width: 50%;
}

.button:hover {
	color: cornflowerblue;
	cursor: pointer;
	transform: scale(1.1);
	font-weight: bolder;
}

.button:active  {
	color: black;
	background-color: white;
	border: 2px solid black;
}

form input,
form textarea {
	display: block;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}

form label {
	display: block;
	margin: 0.5rem;
}
