.holder-centered{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.image {
	border-radius: 0.7rem;
	width: 100%;
}

.card:hover {
	border-radius: 1rem;
	color: black;
	cursor: pointer;
	transform: scale(1.2);
	border: 0.25rem solid black;
}

.card {
	border-radius: 0.7rem;
	background-color: #f0f0f0;
	padding: 1rem;
	margin: 1rem;
	min-height: 16rem;
	width: 15rem;
}
