body {
	background-color: #f0f0f0;
}

.welcome-picture {
    margin-top: 1rem;
	max-width: 20%;
}

.subtitle {
	color: black;
	font-style: italic;
	font-size: small;
	text-decoration: none;
	text-transform: initial;
	animation-name: subtitle;
	animation-duration: 2s;
	animation-fill-mode: forwards;
}

@keyframes subtitle {
	from {
		opacity: 0;
		transform: translate3d(0, -100%, 0);
	}

	to {
		opacity: 1;
		transform: none;
	}
}
