body {
	background-color: #f0f0f0;
}

/* header {
    text-align: center;
    margin: 1rem;
    width: 33%;
    height: 2rem;
} */

.welcome-picture {
    margin-top: 1rem;
	border-radius: 0.3rem;
	border: 0.25rem solid black;
	max-height: 40%;
}

.subtitle {
	color: grey;
	font-style: italic;
	font-size: small;
	text-decoration: none;
	text-transform: initial;
	animation-name: subtitle;
	animation-duration: 2s;
	animation-fill-mode: forwards;
}

@keyframes subtitle {
	from {
		opacity: 0;
		transform: translate3d(0, -100%, 0);
	}

	to {
		opacity: 1;
		transform: none;
	}
}
